
.card{
    border-color: rgba(255, 255, 0, 0.51);
    background-color: rgb(30, 29, 29)!important;
    color: white!important;
    img{
    margin-top: 0.7rem;
    }

    ul>li {
        background-color: rgb(30, 29, 29)!important;
        color: white!important;
        h6{
            color: yellowgreen;
        }
    }

    h5{
    color: rgb(255, 255, 0);
    }

    .card-body{
        a{
        color:yellowgreen ;
        border:1px solid yellowgreen;
        border-radius: 15px;
        padding: .3rem;
        text-decoration: none;
        }
    }

}
